html, body
{
	width: 100%;
	height: 100%;
	margin: 0px;
}

#view
{
	border: 1px solid black;
	display: inline;
}

#log
{
	height: 100 px;
	position: absolute;
	top: 0px;
	left: 820px;
}

#connect
{
	position: absolute;
	top: 110px;
	left: 820px;
}